html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

#navbar {
  list-style-type: none;
  display: inline;
  color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
}

li {
  margin-right: 20px;
}

#space {
  flex: 2 0 auto;
}

#apps {
  fill: #5f6368;
  padding: 8px;
  line-height: 8px;
}
#apps:hover {
  background-color: #f0f0f0;
  border-radius: 50px;
  cursor: pointer;
  padding: 8px;
}

#signin {
  background-color: #1a73e8;
  color: white;
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  flex: 0 0 50px;
}

#signin:hover {
  cursor: pointer;
  background-color: #4385f7;
}
#google {
  display: block;
  margin: auto;
  max-width: 100%;
  margin-top: 50px;
}

#form {
  position: relative;
}

#magnifier {
  position: absolute;
  left: 240px;
  top: 20px;
  fill: #5f6368;
}

#searchform {
  display: block;
  margin: 0 auto;
  border-style: solid;
  border-radius: 40px;
  border-width: 0.5px;
  border-color: #e7e7e7;
  padding: 10px 150px;
  outline: none;
}

#searchform:hover {
  box-shadow: 0px 2px 5px #e7e7e7;
  transition: all 200ms ease;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

#search {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  color: #5f6368;
  display: flex;
  flex-direction: row;
  margin-right: 12px;
}
#search:hover {
  cursor: pointer;
  color: black;
  transition: all 100ms ease;
}

#lucky {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  color: #5f6368;
  display: flex;
  flex-direction: row;
}
#lucky:hover {
  cursor: pointer;
  color: black;
  transition: all 100ms ease;
}

#location {
  background-color: #f2f2f2;
  color: #a29b95;
  padding: 20px;
  margin-bottom: 0;
}

hr {
  margin: 0;
  border: none;
  height: 1px;
  background-color: #dadce0;
}

#footer {
  background-color: #f2f2f2;
  color: #a29b95;
  padding: 20px;
  margin: 0;
  text-decoration-color: #a29b95;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 80px) 120px 1fr repeat(3, 60px);
  grid-column-gap: 10px;
  justify-items: center;
}

@media (min-width: 400px) {
}

.links:link {
  text-decoration-color: #a29b95;
  background-color: transparent;
}
#plant {
}
